<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app id="inspire">
        <v-app id="inspire">
            <v-navigation-drawer
                    v-model="drawer"
                    app
            >
                <v-list dense>
                    <v-list-item link>
                        <v-list-item-action>
                            <v-icon>mdi-home</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>В начало</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link>
                        <v-list-item-action>
                            <v-icon>mdi-email</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Контакты</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>

            <v-app-bar
                    app
                    color="indigo"
                    dark
            >
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>Специалисты</v-toolbar-title>
            </v-app-bar>

            <v-main>
                <v-container
                        class="fill-height"
                        fluid
                >
                    <v-row
                            align="center"
                            justify="center"
                    >
                        <v-col class="text-center">

                            <v-col
                                    v-for="(item, i) in profiles"
                                    :key="i"
                                    cols="12"
                            >
                                <v-card
                                        :color="item.color"

                                >
                                    <div class="d-flex flex-no-wrap justify-space-start">
                                        <v-avatar
                                                class="ma-3"
                                                size="300"
                                                tile
                                        >
                                            <v-img :src="item.photo"></v-img>
                                        </v-avatar>

                                        <div>
                                            <v-card-title
                                                    class="headline "
                                                    v-text="item.name"
                                            ></v-card-title>

                                            <v-card-body v-for="(title) in item.methods"
                                                         :key="title.id" >
                                                <v-chip
                                                        class="ma-2"
                                                        color="success"
                                                        outlined
                                                >
                                                    {{ title.title }}
                                                </v-chip>
                                            </v-card-body>
                                        </div>
                                    </div>
                                </v-card>
                            </v-col>

                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            <v-footer
                    color="indigo"
                    app
            >
                <span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
            </v-footer>
        </v-app>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        props: {
            source: String,
        },

        data: () => ({
            profiles: [
                {
                    "id": "rec3XvhYxD45RKTCe",
                    "name": "Георгий",
                    "photo": "https://dl.airtable.com/.attachments/c15cce685652a0670beb0f4bb2485041/0d0720fe/3.jpg",
                    "methods": [
                        {
                            "id": 3,
                            "title": "Сказкотерапия"
                        },
                        {
                            "id": 1,
                            "title": "Психоанализ"
                        },
                        {
                            "id": 9,
                            "title": "Музыкотерапия"
                        }
                    ]
                },
                {
                    "id": "rec60Vls6AmXpYqGE",
                    "name": "Иннокентий",
                    "photo": "https://dl.airtable.com/.attachments/fa70928a82a214d22c4b7a2eeace79d2/e5a12360/2.jpg",
                    "methods": [
                        {
                            "id": 3,
                            "title": "Сказкотерапия"
                        },
                        {
                            "id": 4,
                            "title": "Гештальт-терапия"
                        },
                        {
                            "id": 5,
                            "title": "Коучинг"
                        },
                        {
                            "id": 10,
                            "title": "Психосинтез"
                        }
                    ]
                },
                {
                    "id": "recLuzpKqfA0rA2RM",
                    "name": "Василий",
                    "photo": "https://dl.airtable.com/.attachments/7da0d4c7963babf742137abc4e9a1a99/5f547505/1.jpg",
                    "methods": [
                        {
                            "id": 5,
                            "title": "Коучинг"
                        },
                        {
                            "id": 1,
                            "title": "Психоанализ"
                        },
                        {
                            "id": 9,
                            "title": "Музыкотерапия"
                        }
                    ]
                },
                {
                    "id": "reco2hGoswZcg4V6B",
                    "name": "47",
                    "photo": "https://dl.airtable.com/.attachments/2522cd129ab37f8827af7ab8bec0accc/7cca9a1a/3.jpg",
                    "methods": [
                        {
                            "id": 5,
                            "title": "Коучинг"
                        }
                    ]
                },
                {
                    "id": "recr3qAnJo5J4WMpp",
                    "name": "dfgdf",
                    "photo": "https://dl.airtable.com/.attachments/7f31360968a449caadd7a66ee345a969/de50b113/3.jpg",
                    "methods": []
                }
            ],
            drawer: null,
        }),

        // async created() {
        //   var response = await fetch('http://127.0.0.1:8000/api/v1/profile/')
        //   this.profiles = await response.json();
        //   console.log(this.profiles)
        // },
    })
</script>
</body>
</html>